@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
body {
    background-repeat: no-repeat;
    background-image: url('../Image/rock-paper-scissors-today-tease2-160317.jpg');
    background-size: cover;
    opacity: 1;
}

.h1index {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.instructions {
    font-family: 'Luxurious Roman', cursive;
    background-color: rgb(156, 210, 241);
}

.btn {
    margin: 4em 46%;
    padding: 3px 2px;
    width: 8%;
    height: 30px;
    border-radius: 2em;
    font-weight: bolder;
}

.btn-ds {
    width: 8%;
    height: 30px;
    border-radius: 2em;
    color: black;
    font-weight: bold;
    background-color: white;
}

.span1 {
    font-weight: bold;
    color: rgb(243, 249, 250);
}

.btn:hover {
    background-color: yellow;
    cursor: pointer;
}

div h3 {
    color: red;
}

h4 i {
    color: rgb(110, 165, 27);
}

div>p {
    background-color: rgb(164, 241, 128);
    font-weight: bold;
}

.span2 {
    font-size: larger;
    font-weight: bold;
    margin: 0% 45%;
}