        * {
            margin: 0;
            padding: 0;
        }
        
        .hdr {
            box-sizing: border-box;
            height: 16vh;
            background-color: black;
            color: aliceblue;
            padding: 15px 5vw;
        }
        
        main {
            min-height: 71vh;
            display: flex;
            justify-content: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-variant: small-caps;
        }
        
        .animalsSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            min-width: 50vw;
            background-color: lavender;
            height: 71vh;
            font-weight: bold;
        }
        
        section .Mammal {
            color: blue;
        }
        
        section .Bird {
            color: red;
        }
        
        section .Reptile {
            color: rgb(0, 191, 30);
        }
        
        .buttonsSection {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            box-sizing: border-box;
            min-width: 50vw;
            background-color: aqua;
            height: 71vh;
            align-items: center;
        }
        
        .ftr {
            background-color: black;
            color: aliceblue;
            height: 13vh;
        }
        
        .aboutMeBody {
            background-image: url('../Images/bg-image.webp');
            background-size: cover;
        }
        
        .myInfo {
            display: flex;
            flex-wrap: wrap-reverse;
            min-height: 80vh;
            width: 90vw;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;
        }
        
        .flex2 {
            padding-top: 4em;
            height: 70vh;
            display: grid;
            place-items: center;
            grid-template-areas: 'h1' 'h2' 'h3' 'h4' 'h5' 'h6';
        }
        
        .flex2 h1 {
            grid-area: h1;
        }
        
        .flex2 h2 {
            grid-area: h2;
        }
        
        .flex2 h3 {
            grid-area: h3;
        }
        
        .flex2 h4 {
            grid-area: h4;
        }
        
        .flex2 h5 {
            grid-area: h5;
        }
        
        .flex2 h6 {
            grid-area: h6;
        }
        
        .flex1 img {
            position: relative;
            top: 24px;
            left: 15px;
            margin-right: 4vw;
            height: 60vh;
            padding: 0px 5px;
        }
        
        .ftr2 {
            height: 20vh;
        }
        
        @media screen and (max-width: 900px) {
            .hdr {
                height: 25vh;
                padding: 2vh 3vw;
            }
            .buttonsSection {
                height: 70vh;
            }
            .animalsSection {
                height: 70vh;
            }
            .ftr {
                height: 22vh;
                padding: 2vh 5vw;
            }
            .myInfo {
                height: 161vh;
                width: 100vw;
            }
        }
        
        @media screen and (max-width: 525px) {
            .hdr {
                height: 46vh;
                padding: 22vh 16vw;
            }
            main {
                height: 180vh;
                display: block;
            }
            .animalsSection {
                height: 80vh;
            }
            .buttonsSection {
                height: 100vh;
                height: 100vh;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
            }
            .ftr {
                height: 14vh;
                padding: 3vh 10vw;
            }
            .myInfo {
                height: 140vh;
                width: 100vw;
                box-sizing: border-box;
            }
            .flex1 img {
                height: 35vh;
                margin: 2vh 8vw;
            }
            .flex2 {
                height: 65vh;
                width: 80vw;
                place-items: left;
            }
            .btn-back {
                height: 15vh;
            }
        }