.lightTheme {
    width: 100vw;
    position: relative;
    background-color: var(--light-bg-color);
    color: var(--dark-font-color);
}

.homeContainerLight {
    position: relative;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    /* overflow: auto; */
}

.lightProjectsContainer {
    background: wheat;
    border-color: black;
}

.serviceNameLight {
    color: black;
}

.serviceItemLight {
    background-color: beige;
    width: 320px;
    height: 350px;
    padding: 16px 18px;
    border-radius: 15px;
    margin: 3vh 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.iLight {
    color: black;
}

.iLight:hover {
    color: rgb(255, 0, 0);
}